/*Title*/

body > h1 {
    text-align: center;
}

/*Controls*/
#controls {
    border: black .2em solid;
    border-radius: .2em;
    width: 20%;
}

#controls li {
    float: left;
    list-style-type: none;
    border: grey .2em solid;
    margin: 0.5em;
    border-radius: .2em;
}

#controls li:hover {
    background-color: lightgray;
}

#controls li:active {
    background-color: darkgray;
}

#info-pane {
    overflow: hidden;
    width: 80%;
    height: 1em;
    background-color: orange;
}

#song-info {
    
}

.marquee {
    -webkit-transition-property: top, left;
    transition-property: top, left;
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-timing-function: ease-out;
    transition-timing-function: ease-out;
    left: 20px;
    top: 0px;
}
#playtime {
    position: relative;
    right: 1px;
}

/*Equalizer*/
#equalizer {
    display: inline-block;
    height: 5em;
}
.eq_slider {
    margin-left: .7 em;
    margin-right: .7 em;
    display: inline-block;
    width:1em;
    height:1.5em;
    background-color: black;
    border-radius: 0.2em;
    color: lightgray;
}